$font-gotham = 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif
$font-sentinel = 'Sentinel SSm A', 'Sentinel SSm B', Georgia, Times, "Times New Roman", serif

$font-weight-normal = 400
$font-weight-bold = 700


.wrapper
  width: 600px
  margin: 0 auto

p 
  font: $font-base/$line-height-base $font-sentinel

h2, h3
  font-family: $font-gotham  

h2
  font-size: 2em

h3
  font-weight: $font-weight-normal
  font-size: 1.625em

.intro, h2
  text-align: center

section
  border-top: 1px solid #e6eaed
  padding: 40px 0

#otalk
  text-indent: -9999em
  background-image: url('/otalk.png')
  width: 296px
  height: 100px
  background-size: 296px 100px
  margin: 0px auto

.button.button-large
  background-color: #ec008c
  color: #fff
  font-family: $font-gotham  

.andyet-logo
  display: block
  margin: 0 auto
  height: 60px
  width: 110px
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE4IiBoZWlnaHQ9IjExOSIgeG1sbnM9…4LjgyOXYtMzguOTUzaC0xMS42NzF6bTAgMCIgZmlsbD0iIzExQkFFRSIvPjwvZz48L3N2Zz4=")