doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Otalk is a suite of truly open tools for making modern communication a delightful experience for users and developers.')

    title Otalk | The Truly Open WebRTC Platform from &yet

    link(rel='icon', type='image/png', href='images/favicon.png')

    script(src='//use.typekit.net/cvz7isj.js', async)
    script.
      try{Typekit.load();}catch(e){}

    link(rel='stylesheet', href='/css/main.css')

  body

    .wrapper

      section.intro
        h1#otalk Otalk

        h2 An open-source platform for building realtime applications

        p Otalk is a suite of truly open tools for making modern communication a delightful experience for users and developers. See the <a href='https://github.com/otalk'>GitHub Org</a> for all the code!

        p The upcoming version of &yet's <a href="https://beta.talky.io/">Talky</a> videochat service is built on the Otalk platform, a standards-based alternative to proprietary platforms for voice, video, chat, and more.

      section.components
        h2 Otalk's primary components

        div
          h3 Client-side tools:
          ul
            li 
              a(href="https://simplewebrtc.com/") SimpleWebRTC 
              |  — a highly modular set of JavaScript libraries for WebRTC
            li 
              a(href="https://github.com/otalk/stanza.io") Stanza.io 
              |  — lets you do amazing things with <a href="http://xmpp.org">XMPP</a>. (No XML, just a beautifully simple JavaScript API.)
            li 
              a(href="https://github.com/otalk/jingle.js") JingleJS
              |  — a generic Jingle session manager implementation
            li
              a(href="https://github.com/otalk/otalk-im-client") Otalk IM
              |  — a full-featured chat library for the browser (the foundation for <a href='https://getkaiwa.com/'>Kaiwa</a> among other apps)

        div
          h3 Server-side infrastructure:
          ul
            li XMPP signaling using most XMPP servers (though we <3 
              a(href="https://prosody.im") Prosody
              | )
            li 
              a(href="https://jitsi.org/Projects/JitsiVideobridge") Jitsi Videobridge
              |  — state-of-the-art selective forwarding unit that makes it possible to serve many more clients than full-mesh WebRTC.

      section
        h2 More details, demos, and how-tos coming soon.
        center
          a.subscribe.button.button-large(href="https://confirmsubscription.com/h/r/B15DD9807C54FC55") Subscribe to updates

        h3 Want help implementing Otalk?

        p We can help you deliver a great experience without marrying yourself to proprietary infrastructure in someone else's pay-as-you-grow scheme.

        p &yet is a veteran realtime communication team, made up of pioneers and leaders of open Internet communication standards and creators of technologies that have helped scores of developers build great experiences. 

        p We've served clients like AT&T and Ericsson, and we'd love to help you.

        p We can even help with UX design and train your team on how to build advanced single-page apps.

        a.button.button-large(href="https://andyet.com/talky") Contact us

      footer
        a(href="https://andyet.com")
          .andyet-logo
